:root {
    --fontTitle: "Libre Franklin", sans-serif;
    --fontText: "IBM Plex Mono", monospace;
}

.appeal {
    max-width: 1440px;
    height: 411px;
    margin: 0 auto;
    padding: 0;
}
.appeal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 135px 150px 135px;
    width: 1170px;
    height: 111px;
}

.appeal__text {
    font-family: var(--fontTitle);
    width: 585px;
}

.appeal__mini-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #06c519;
    margin-bottom: 15px;

}

.appeal__title {
    font-weight: 100;
    font-size: 24px;
    color: #999999;
}

.appeal__title span {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000;
}

.appeal__button button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 425px;
    width: 160px;
    height: 60px;
    font-family: var(--fontTitle);
    border-radius: 4px;
    border: none;
    background: #5ab963;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    cursor: pointer;
    transition: all 1s;
}

.appeal__button button:hover {
    transform: scale(1.1);
}



