:root {
    --fontTitle: "Libre Franklin", sans-serif;
    --fontText: "IBM Plex Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    background-color: #F5F5F5;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    padding: 15px 30px;
    background-color: #5AB963;
    border-radius: 4px;
    border: none;
    font-family: var(--fontTitle);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: transform 1s;
}

.btn:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.info {
    font-size: 24px;
    color: #999999;
}

.cards span, .info-important span, .appeal span, .servers span, .grettings span {
    color: black;
    font-weight: bold;
}

